
// button hover ja gold di mag lipat
$btn-hover: rgb(159, 232, 223);


// color choices sa css provided
$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$very-dark-cyan-1: hsl(186, 14%, 43%);
$very-dark-cyan-2: hsl(184, 14%, 56%);
$light-grayish-cyan-1: hsl(185, 41%, 84%);
$light-grayish-cyan-2: hsl(185, 41%, 97%);
$white: hsl(0, 0%, 100%);



@import "main";
@import "cal";
@import"1440p";




